<!DOCTYPE html>
<html lang="ko">
<head>
	<title>WorldVision</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<link href="css/page.css" rel="stylesheet" type="text/css"/>
	<link href="css/core.css" rel="stylesheet" type="text/css"/>
	<link href="css/component.css" rel="stylesheet" type="text/css"/>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<form action="./userCreate" method="POST">
		<input type="text" name="name" placeholder="Name"/><br>
		<input type="text" name="account" placeholder="Account"/><br>
		<input type="text" name="email" placeholder="Email"/><br>
		<input type="text" name="phone" placeholder="Phone"/><br>
		<input type="text" name="password" placeholder="Password"/><br>
		<input type="text" name="is_use" placeholder="IsUse"/><br>
		<button>Create</button>
	</form>
</body>