/* Card Box */
.card-box {
  padding: 65px;
  background-color: #D2DFED;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  border: 1px solid #FFFFFF;
}
.card-box .card-drop {
  color: #F2F8FB;
  font-size: 30px;
  line-height: 1px;
  padding: 0px 5px;
  display: inline-block;
}

.form-control {
	height: 45px;
}
