/* =============
   Accounts pages
============= */
.wrapper-page .card-box {
  margin: 30px auto;
  margin-left:550;
  position: relative;
  max-width: 700px;
}
.logo-alt-box {
  margin-top: 6%;
}
.logo-alt-box .logo {
  float: none;
  color: #7392B2 !important;
  font-size: 30px;
  letter-spacing: .06em;
  line-height: 48px;
  font-weight: bold;
}

.logo-alt-box h5 {
  font-size: 16px;
}